@font-face{
    font-family:'orf-font';
    font-weight:400;
    src:url("/res/OrfOn-Regular.woff2") format("woff2")
}

@font-face{
    font-family:'orf-font-bold';
    font-weight:700;
    src:url("/res/OrfOn-CondensedBold.woff2") format("woff2")
}

html, body{
    font-family: orf-font;
    background-color: #D6DCDE;
    color: #333333;
}


.wrapper {
    margin-left: 25px;
    width: 875px;
}

.headerlist {
  background-color: #9e0b0f;
  color: white;
  height: 27px;
  align-items: center;
}

.headersecondline {
  background-color: #bb131a;
  height: 77px;
  display: flex;
  align-items: center;
}

.icon-holder{
    margin-left: 30px;
    background-color: transparent;
    display: inline-block;
}

.icon-text{
    color: white;
}

.icon-corona-holder{
    margin-right: 30px;
    margin-left: auto;
    height: 50px;
}

.headercolorbar{
    height: 8px;
    background-color: #d32824;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #E94E38;
}

.subheaderlist{
    background-color: #790000;
    color: white;
    height: 29px;
    align-items: center;
}

.canopennavbar::before{
    content: '';
    background: url(/res/topbaricon.png);
    width: 10px;
    height: 7px;
}

.imageholder{
    margin-top: 10px;
}

.txtholder{
    position: relative;
    margin-top: -79px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 27px;
    padding-right: 27px;
    max-width: 700px;
    background-color: white;
}

.coronavirus-header{
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
}

.text-holder{
    background-color: white;
    min-height: 250px;
    margin-top: -100px;
}

.divdatum{
    margin-top: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 20px;
}

li {
  float: left;
}

h1{
    font-family: orf-font-bold;
    font-size: 2.25rem;
    font-weight: 700;
}
